<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMGOu9A3hN_1G_V7LnQDBp9nGW5qn2tpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>899432780815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.checklist</string>
	<key>PROJECT_ID</key>
	<string>check-list-app-d0a37</string>
	<key>STORAGE_BUCKET</key>
	<string>check-list-app-d0a37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899432780815:ios:36c78ee406efcc1b243f7a</string>
	<key>DATABASE_URL</key>
	<string>https://check-list-app-d0a37-default-rtdb.firebaseio.com</string>
</dict>
</plist>